.titulodepoimento {
  display: flex;
  width: 100%;
  margin: 0vh 0vh 0vh 10vh;
  align-items: start;
  justify-content: start;
  text-align: start;
}

.alunitos {
  color: #000;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.titulodepoimento h1 {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

.container {
  max-width: 75vw;
}
.container .carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container .carousel .item {
  margin: 10px;
  padding: 10px;
  width: 280px;
}

.container .carousel .item .image img {
  width: 300%;
  height: 200%;
  object-fit: cover;
}
