.projetoPai {
  scroll-behavior: smooth;
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  margin-top: 15rem;
}

.title {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bottom {
  width: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.projectSection {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10vh 10vh 20vh 10vh;
}

.projectSection h2 {
  text-align: left;
  margin: 10vh 40vh 0 10vh;
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 881px;
  height: 222px;
  flex-shrink: 0;
}

.projectSection img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
  cursor: pointer;
}
